.new {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.new .content {
  padding: 20px;
}

.new .content h1 {
  margin-bottom: 10px;
}

.new .content input[type="text"] {
  margin-bottom: 14px;
}

.new .content textarea {
  height: 250px;
  resize: vertical;
  margin-bottom: 14px;
}
